<div class="row justify-content-center m-3">
        <div class="table table-borderless align-middle mx-auto">
                <tbody class="table-group-divider" *ngFor="let data of quoteData">
                        <tr >
                                <th colspan="7">
                                        <span class="h2">{{data.name}}</span>
                                        <span class="badge bg-primary mx-2">{{data.symbol}}</span>
                                        <span *ngIf="data.quote.dp>0" class="h2" style="color: green;">🡱</span>
                                        <span *ngIf="data.quote.dp<0" class="h2" style="color: red;">🡳</span>
                                </th>
                                <td class="text-end">
                                        <a [routerLink]="['../sentiment', data.symbol]" [attr.id]="'sentiment'+data.symbol"> Sentiment of {{data.name}} </a>
                                        <button type="button" class="btn btn-outline-secondary rounded-circle mx-2" [attr.id]="'remove'+data.symbol" (click)="removeData(data.symbol)">&times;</button>
                                </td>
                        </tr>
                        <tr >
                                <td >Percent Change:</td>
                                <th >{{data.quote.dp}}%</th>
                                <td >Change today:</td>
                                <th >${{data.quote.c}}</th>
                                <td >High Price of the day:</td>
                                <th >${{data.quote.h}}</th>
                                <td >Low Price of the day:</td>
                                <th >${{data.quote.o}}</th>
                        </tr>
                        
                </tbody>
        </div>
</div>

